What does Dick Cheney prefer? ____
____: Hours of fun. Easy to use. Perfect for ____!
I drink to forget ____.
Daddy, why is mommy crying? ____
Hey baby, come back to my place and I'll show you ____.
What gets better with age? ____
This month's Cosmo: "Spice up your sex life by bringing ____ into the bedroom."
Charades was ruined for me forever when my mom had to act out ____.
With enough time and pressure, ____ will turn into ____.
Maybe she's born with it. Maybe it's ____.
What do old people smell like? ____
Next on ESPN2: The World Series of ____.
