Dick Cheney
The entire Internet
A cat video so cute that your eyes roll back and your spine slides out of your anus
Drinking alone
The glass ceiling
A PowerPoint presentation
Robert Downey, Jr
Explosions
An Oedipus complex
An ether-soaked rag
Some god-damn peace and quiet
Being a motherfucking sorcerer
The primal ball-slapping sex your parents are having right now
Pulling out

